<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mengyuan1998.finger_dancing">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="14471942" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="bQ5xAZhr7qtuYS7kvi7ywd9R" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="dYSfoDCNsGROFxeWSLbrdkO0UUDvV9gV" />

        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.LoginActivity">

        </activity>
        <activity android:name=".ui.VocieRecognizeActivity" />
        <activity android:name=".ui.ConversationDisplayActivity" />
        <activity android:name=".ui.ScanActivity" />
        <activity android:name=".ui.InfoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>